
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

    *{
        padding: 0;
        margin:0; 
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    html{
        height: 100%;
    }
    body{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(45deg,#0a0a0a,#3a4452);
    }
    .calculator{
        border: 1px solid #717371;
        padding: 20px;
        border-radius: 16px;
        background: transparent;
        box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
    }

    input{

        width: 350px;
        border: none;
        padding: 22px;
        margin:8px;
        background: transparent;
        box-shadow: 0px 3px 15px rgba(84, 90, 103, 0.1);
        font-size: 30px;
        text-align: right;
        cursor: pointer;
        color: #fff;
    
    }
    input::placeholder{
        color: #fff;
    }
    button{
        border:none;
        height: 60px;
        width: 60px;
        margin: 10px;
        padding: 10px;
        color: #fff;
        border-radius: 50%;
        font-size: 20px;
        background: transparent;
       /* box-shadow: -1px -3px 10px #E5E4E2; */
       cursor: pointer;
    }
.eqlbtn{
    background-color: orangered;
}
.operator{
    color: orangered;
}